NODE_ENV=development
PORT=3001

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_aws_access_key
AWS_SECRET_ACCESS_KEY=tu_aws_secret_key
# AWS_SESSION_TOKEN=tu_session_token (Opcional, solo si usas credenciales temporales / AWS Academy / Learner Lab / SSO)
REKOGNITION_COLLECTION_ID=academy-faces
REKOGNITION_MATCH_THRESHOLD=98

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=jeroky_soft_db
DATABASE_SYNCHRONIZE=true
DATABASE_MIGRATIONS_RUN=false
DATABASE_LOGGING=false

JWT_SECRET=tu_secreto_jwt
ENCRYPTION_KEY=clave_de_encriptacion_medica_32_chars